* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 20px;
}

.todo-enter-active {
  animation: fade-in .5s forwards;
}

.todo-exit-active {
  animation: fade-out .5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.todo {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 15px;
}
